# Graylog core
# Shared privately with team via WhatsApp
GRAYLOG_PASSWORD_SECRET=
GRAYLOG_ROOT_PASSWORD_SHA2=
GRAYLOG_HTTP_EXTERNAL_URI=http://localhost:9000/

# OpenSearch
# Shared privately with team via WhatsApp
OPENSEARCH_ADMIN_PASSWORD=

# SMTP email (Gmail)
# Shared privately with team via WhatsApp
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
